#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.UserList {
  padding: 20px;
  border: 1px solid #efefef;
}

.User {
  border: 1px solid #efefef;
  padding: 10px;
  position: relative;
  margin-bottom: 20px;

}

.User__toggleDescription {
  display: inline-block;
  padding-right: 10px;
}
.User__toggleDescription:hover {
  color: red;
}

.User__deleteUserBtn {
  position: absolute;
  right: 5px;
  top: 5px;
  border: none;
  background: none;
  font-size: 14px;
  font-weight: bold;
}

.User__deleteUserBtn:hover {
  color: red;
}
